@import url(mod.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --fontSize: 14px;
  --transition: all 150ms ease-out;
  --bshadow: 0px 0px 6px rgba(61, 61, 61, 0.05);
  --dark: #3d3d3d;
  --light: #fff;
  --bradius: 6px;
  --sp-5: 5px;
  --sp-10: 10px;
  --sp-15: 15px;
  --sp-20: 20px;
  --sp-25: 25px;
  --sp-30: 30px;
  --w-100: 100%;
  --fs-1: 14px;
  --fs-2: 24px;
}

/* 
  POSITIONS
*/
.p-ab{
  position: absolute;
}
.p-re{
  position: relative;
}

/* 
  JUSTIFY-CONTENT
*/
.jc-center{
  display: flex;
  justify-content: center;
}
.jc-end{
  display: flex;
  justify-content: end;
}
.jc-start{
  display: flex;
  justify-content: start;
}
.jc-space_between{
  display: flex;
  justify-content: space-between;
}

/* 
  ALING-ITEMS
*/
.ai-center{
  display: flex;
  align-items: center;
}
.ai-end{
  display: flex;
  align-items: end;
}
.ai-start{
  display: flex;
  align-items: start;
}

/* 
  FLEX-DIRECTIONS
*/
.fd-column{
  display: flex;
  flex-direction: column;
}
.fd-row{
  display: flex;
  flex-direction: row;
}

/* 
  CONTAINERS
*/
.container-fluid{
  width: var(--w-100);
}

.container{
  width: var(--w-100);
  max-width: 1250px;
  margin: auto;
  padding: var(--sp-10);
}

/* 
  COLS
*/
.col{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
.col-2{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}
.col-3{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
}
.col-4{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
}
.col-5{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(5, 1fr);
}
.col-6{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
}
.col-7{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(7, 1fr);
}
.col-8{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(8, 1fr);
}
.col-9{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(9, 1fr);
}
.col-10{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(10, 1fr);
}
.col-11{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(11, 1fr);
}
.col-12{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
}