.header-search__icon{
  top: 5px;
}
.header-logo{
  width: 40px;
  margin-right: var(--sp-10);
}
.button-1__mod{
  margin-left: var(--sp-5);
  margin-bottom: 0px;
}
.main{
  margin-top: 65px !important;
}


/* .navbar{
  width: 240px;
}
.section{
  width: 100%;
  max-width: 700px;
} */

.main{
  grid-template-columns: 0.7fr 2fr 0.8fr !important;
  gap: 10px;
}