body{
  background-color: #f5f5f5;
}
.header-search__icon {
  top: 5px;
}
.header-logo {
  width: 40px;
  margin-right: var(--sp-10);
}
.button-1__mod {
  margin-left: var(--sp-5);
  margin-bottom: 0px;
}
.main {
  margin-top: 65px !important;
  grid-template-columns: 0.7fr 2fr 0.9fr !important;
  gap: 10px;
}
.card-info {
  padding-left: var(--sp-30);
  margin-left: var(--sp-10);
}
.navbar .card{
  padding: var(--sp-15);
}
.card{
  padding: var(--sp-25);
}
.section{
  gap: var(--sp-10);
}