body{
  background-color: #f5f5f5;
}
.header-search__icon {
  top: 5px;
}
.header-logo {
  width: 40px;
  margin-right: var(--sp-10);
}
.button-1__mod {
  margin-left: var(--sp-5);
  margin-bottom: 0px;
}
.main {
  margin-top: 65px !important;
  grid-template-columns: 0.7fr 2fr 0.9fr !important;
  gap: 10px;
}
.card-info {
  padding-left: var(--sp-30);
  margin-left: var(--sp-10);
}
.navbar .card{
  padding: var(--sp-15);
}
.card{
  padding: var(--sp-25);
}
.section{
  gap: var(--sp-10);
}
.aside .card{
  padding: var(--sp-20);
}

.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}
.ta-left {
  text-align: left;
}
.fw-bold {
  font-weight: bold;
}
.rounded {
  border-radius: var(--bor);
}
.pa-5 {
  padding: var(--sp-5);
}
.pa-10 {
  padding: var(--sp-10);
}
.pa-15 {
  padding: var(--sp-15);
}
.pa-20 {
  padding: var(--sp-20);
}
.pa-25 {
  padding: var(--sp-25);
}
.pa-30 {
  padding: var(--sp-30);
}
.ma-10__bottom {
  margin-bottom: var(--sp-10);
}
.lh-25 {
  line-height: var(--sp-25);
}