.card {
  background-color: var(--light);
  outline: 1px solid rgba(29, 29, 29, 0.07);
  padding: var(--sp-15);
  color: var(--dark);
  font-size: var(--fs-1);
  border-radius: var(--b);
  box-shadow: var(--bshadow);
}
.card-top {
  display: flex;
  align-items: center;
  margin-bottom: var(--sp-10);
}
.card-image {
  margin-right: var(--sp-10);
  width: var(--sp-30);
  border-radius: var(--bor);
}
.card-text {
  display: inline-block;
  font-size: var(--fs-1);
}
.info-title {
  font-size: var(--fs-2);
  margin-bottom: var(--sp-5);
  color: var(--dark);
}
.info-interactive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--sp-20);
}
.interactive-tag {
  padding: var(--sp-5) var(--sp-10);
  color: var(--dark);
  border-radius: var(--bor);
}
.interactive-tag:hover {
  background-color: rgba(29, 29, 29, 0.1);
  color: var(--dark);
}
.interactive-tag__show {
  display: none;
}
.card-link {
  display: block;
  padding: var(--sp-10) 0px;
  border-radius: var(--bor);
  text-align: center;
  color: var(--dark);
  text-decoration: none;
  font-size: var(--fs-1);
}
.card-link:hover {
  text-decoration: underline;
  background-color: rgba(29, 29, 29, 0.1);
}
.card-link__mod {
  border: 1px solid var(--dark);
  margin-bottom: var(--sp-5);
}
.card-link__mod:hover {
  background-color: var(--dark);
  color: var(--light);
}